@import 'open-props/style';
@import 'open-props/normalize';
@import 'open-props/theme.light.switch.min.css';
@import 'open-props/theme.dark.switch.min.css';

* {
	box-sizing: border-box;
}

:root {
	--brand: var(--blue-2);
}

:focus-visible {
	outline-offset: 0;
}

html {
	--s: 80px; /* control the size*/
	--c1: var(--surface-1);
	--c2: color-mix(in lch, var(--surface-1), rgb(from var(--surface-2) r g b) 40%);

	--_s: calc(2 * var(--s)) calc(2 * var(--s));
	--_g: 35.36% 35.36% at;
	--_c: #0000 66%, var(--c2) 68% 70%, #0000 72%;
	background:
		radial-gradient(farthest-corner, #0000, #0000 60%, #00000004 80%, #0000000a) fixed,
		radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s),
		radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
		radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
		radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
		repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0 / var(--_s),
		radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c1);
}

body {
	margin: 0;
}

header,
main {
	padding: 1rem;
	max-width: 1060px;
	margin-inline: auto;
}

header {
	background-color: var(--surface-1);
	box-shadow: var(--shadow-3);
	margin-bottom: 1rem;
}

ul {
	padding-inline-start: 28px;
}
li {
	max-inline-size: unset;
}

h2,
h3 {
	margin-bottom: 0.25em;
}

p {
	max-inline-size: unset;
}

.prose p:not(:last-child) {
	margin-bottom: 1em;
}

fieldset {
	background-color: var(--surface-1);
}

button {
	background-color: var(--surface-3);
	padding: 0.5rem 1rem;
	border-radius: var(--size-1);
	width: 100%;
	transition: background-color 100ms;

	&:hover {
		background-color: color-mix(in lch, var(--surface-3), rgb(from var(--surface-1) r g b) 20%);
	}
	&:active {
		background-color: color-mix(in lch, var(--surface-3), rgb(from var(--surface-1) r g b) 30%);
	}
}

.muted-text {
	color: var(--surface-4);
}

@media screen and (width > 1060px) {
	html {
		scrollbar-gutter: stable;
	}
}
