@import 'open-props/style';
@import 'open-props/normalize';
@import 'open-props/theme.light.switch.min.css';
@import 'open-props/theme.dark.switch.min.css';

* {
	box-sizing: border-box;
}

:root {
	--brand: var(--blue-2);

	--color-white: oklch(from var(--link) l 0 0);
	--color-emerald: oklch(from var(--link) l c 159.32);
	--color-garnet: oklch(from var(--link) l c 72.25);
	--color-ruby: oklch(from var(--link) l c 16.6);
	--color-sapphire: oklch(from var(--link) l c 236.35);
	--color-opal: oklch(from var(--link) l c 276.98);

	--surface-white: oklch(from var(--surface-2) l 0 0);
	--surface-emerald: oklch(from var(--surface-2) l c 159.32);
	--surface-garnet: oklch(from var(--surface-2) l c 72.25);
	--surface-ruby: oklch(from var(--surface-2) l c 16.6);
	--surface-sapphire: oklch(from var(--surface-2) l c 236.35);
	--surface-opal: oklch(from var(--surface-2) l c 276.98);

	--surface-overlay: color-mix(in lch, var(--surface-1), transparent 20%);
}

:root {
	/* Toasts */
	--toastContainerTop: auto;
	--toastContainerRight: 2rem;
	--toastContainerBottom: 2rem;
	--toastWidth: auto;
	--toastMinHeight: 0;
	--toastMsgPadding: var(--size-2) var(--size-2) var(--size-2) var(--size-3);
	--toastColor: var(--text-1);
	--toastBackground: var(--surface-3);
	--toastBorder: 1px solid var(--surface-4);
	--toastBarBackground: var(--color-white);
	--toastBoxShadow: var(--shadow-3);
	--toastBarHeight: 2px;
}

:focus-visible {
	outline-offset: 0;
}

html {
	font-family: Inter var(--font-system-ui);

	--s: 80px; /* control the size*/
	--c1: var(--surface-1);
	--c2: color-mix(in lch, var(--surface-1), rgb(from var(--surface-2) r g b) 80%);

	--_s: calc(2 * var(--s)) calc(2 * var(--s));
	--_g: 35.36% 35.36% at;
	--_c: #0000 66%, var(--c2) 68% 70%, #0000 72%;
	background:
		radial-gradient(farthest-corner, #0000, #0000 60%, #00000004 80%, #0000000a) fixed,
		radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s),
		radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
		radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
		radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
		repeating-conic-gradient(var(--c1) 0 25%, #0000 0 50%) 0 0 / var(--_s),
		radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--c1);
}

body {
	margin: 0;
	min-height: 100%;
	grid-template-rows: auto 1fr auto;
	display: grid;
	grid-template-columns: minmax(0, 1fr);

	background-image: linear-gradient(
		#0000,
		#0000 calc(100vh - 20rem),
		var(--surface-overlay) calc(100vh + 10rem)
	);

	/* Overlay thing */
	padding-right: 0 !important;
}

body:has(.loader:not(.hide)) {
	overflow: hidden;
}

body > header,
body > main,
body > footer {
	padding: 1rem;
	max-width: 1060px;
	margin-inline: auto;
	width: 100%;
}

body > header {
	background-color: var(--surface-2);
	box-shadow: var(--shadow-3);
	margin-bottom: 1rem;
}

body > footer {
	margin-top: 2.5rem;
}

ul {
	padding-inline-start: 28px;
}
li {
	max-inline-size: unset;
}

a {
	color: var(--link);
}

h2,
h3 {
	margin-bottom: 0.25em;
}

p {
	max-inline-size: unset;
}

.prose p:not(:last-child) {
	margin-bottom: 1em;
}

fieldset {
	background-color: var(--surface-1);
}

button {
	background-color: var(--surface-3);
	padding: 0.5rem 1rem;
	border-radius: var(--size-1);
	width: 100%;
	transition: background-color 100ms;

	&:hover {
		background-color: color-mix(in lch, var(--surface-3), rgb(from var(--surface-1) r g b) 20%);
	}
	&:active {
		background-color: color-mix(in lch, var(--surface-3), rgb(from var(--surface-1) r g b) 30%);
	}
	&:disabled {
		background-color: color-mix(in lch, var(--surface-3), rgb(from var(--surface-4) r g b) 30%);
		cursor: not-allowed;
	}
}

.outlined-button {
	background-color: unset;
	border: var(--border-size-2) solid var(--surface-3);
	transition: border-color 100ms;
	&:hover {
		background-color: color-mix(in lch, var(--surface-4), transparent 95%);
		border-color: color-mix(in lch, var(--surface-3), rgb(from var(--surface-1) r g b) 20%);
	}
	&:active {
		border-color: color-mix(in lch, var(--surface-3), rgb(from var(--surface-1) r g b) 30%);
	}
	&:disabled {
		background-color: color-mix(in lch, var(--surface-4), transparent 80%);
		border-color: color-mix(in lch, var(--surface-3), rgb(from var(--surface-4) r g b) 30%);
		cursor: not-allowed;
	}
}

[data-pagination-page]:not([data-selected]),
.light-button {
	background-color: unset;
	transition: background-color 100ms;

	&:hover {
		background-color: color-mix(in lch, var(--surface-4), transparent 85%);
	}
	&:active {
		background-color: color-mix(in lch, var(--surface-4), transparent 80%);
	}
	&:disabled {
		background-color: unset;
		cursor: not-allowed;
		color: var(--text-2);
	}
}

.blank-button {
	background-color: unset !important;
	padding: 0;
	margin: 0;
}

input:not([type='button'], [type='submit'], [type='reset']) {
	background-color: var(--surface-2);

	&:disabled {
		background-color: color-mix(in lch, var(--surface-2), rgb(from var(--surface-3) r g b) 30%);
		cursor: not-allowed;
	}
}

.muted-text {
	color: var(--text-2);
}

@media screen and (width > 1060px) {
	html {
		scrollbar-gutter: stable;
	}
}

/* non-specific page styles */

.page-title {
	text-align: center;
	max-inline-size: unset;
	padding-bottom: 1em;
}

.columns {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	column-gap: 2rem;
}

.input-section {
	position: relative;
}

.input-area {
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	margin-bottom: 0.75rem;
}

.button-group {
	display: flex;
	gap: 1rem;
}

.combobox-label {
	font-size: var(--font-size-1);
}

.combobox-aligned-input {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	gap: var(--size-2) 1ch;
}
